@use "sass:map";
// @import "style/pages/theme";
$banenrImg: "/assets/users/images/hero/1.png";

.header__top {
    background: #f5f5f5;

}

.header__top_left {
    ul {
        display: flex;
        column-gap: 10px;
        align-content: center;
        padding: 10px 0 13px;
        list-style: none;

        li {
            font-size: 14px;
            color: #008874;
            display: flex;
            align-items: center;
            column-gap: 20px;
        }

        li:first-child {
            position: relative;

            &:after {
                position: absolute;
                right: -10px;
                top: 1px;
                height: 25px;
                width: 1px;
                opacity: 0.2;
                background: #000;
                content: "";
            }
        }
    }

    ul {
        display: flex;
        column-gap: 20px;

    }
}

.header__top_right {

    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 10px 0 13px;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
            color: #008874;
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;
        }

        span {
            font-size: 14px;
            margin-left: 2px;
        }
    }
}

.header__logo {
    padding: 15px 0;
}

.header__menu {
    padding: 24px 0;

    li {
        list-style: none;
        position: relative;

        a {
            text-decoration: none;
            font-size: 14px;
            color: #044a40;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            transition: all 0.3s;
            padding: 5px 0;
            display: block;
        }
    }

    li:hover .header__menu_dropdown {
        opacity: 1;
        visibility: visible;
        color: whitesmoke;
    }

    ul {
        display: flex;
        justify-content: space-between;

        .active a {
            color: #008874;

        }

        .header__menu_dropdown {
            background: #222;
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all, 0.3s;
            opacity: 0;
            visibility: hidden;

            li {
                a {
                    text-transform: capitalize;
                    color: #f5f5f5;
                    font-weight: 400;
                    padding: 5px 15px;
                }

                :hover {
                    color: #008874;
                }
            }
        }
    }
}

.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    ul {
        display: flex;

        margin-right: 25px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg {
                font-size: 25px;
                color: #000;
            }

            span {
                color: #f5f5f5;
                background: #008874;
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                left: 15px;
                bottom: 15px;
            }
        }
    }

}

.hero__categories {
    position: relative;

    .hero__categories__all {
        background: #008874;
        padding: 15px 25px 15px 40px;
        font-weight: bold;
        align-items: center;
        cursor: pointer;
        color: #ffff;

        svg,
        span {
            font-size: 16px;
            margin-right: 5px;
            font-weight: bold;
        }

        svg {
            font-size: 20px;

        }
    }

    ul {
        border: 1px solid #ebebee;
        position: absolute;
        width: 99%;
        background: #ffff;
        opacity: 1;
        transition: all 0.2s;

        li {
            list-style: none;

            a {
                text-decoration: none;
                color: transparent;
                font-size: 16px;
                color: #008874;
                line-height: 39px;
                display: block;
                padding-left: 40px;
            }

            &:hover {
                background: #f7ffff;

                a {
                    color: 008874;
                }
            }
        }

        &.hidden {
            opacity: 0;

        }
    }

}

.hero__search__container {


    .hero__search__form {
        margin-bottom: 30px;
        float: left;
        height: 50px;
        width: 610px;
        padding-left: 15px;
    }

    input {
        border: 1px solid #ebebeb;
        height: 48px; // Đặt chiều cao cho input
        font-size: 16px;
        color: #b2b2b2;
        padding-left: 20px;
        border: none;
        width: 70%;

        form {
            display: flex;
            align-items: center;
        }


        &:focus {
            outline: none;
            border-color: #008874; // Đổi màu viền khi focus (nếu muốn)
        }
    }

    button {
        font-size: 14px;
        color: #fff;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        padding: 16px 30px 17px; // Điều chỉnh khoảng cách bên trong nút
        background: #008874;
        border: none;
        height: 100%;
        cursor: pointer;

        &:hover {
            background: #006b5b;
        }
    }

    .hero__search__phone {
        display: flex;
        align-items: center;

        .hero__search__phone__icon {
            font-size: 25px;
            padding: 10px;
            background: #f5f5f5;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            float: left;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #006b5b;
        }

        .hero__search__phone__text {
            display: inline-block;

            p {
                color: #006b5b;
                font-weight: bold;
                margin-bottom: 5px;

            }

            span {
                color: #006b5b;
                font-size: 14px;
            }
        }

    }

    .hero__item {
        width: 100%;
        background-image: url($banenrImg);
        background-size: cover;
        height: 410px;
        display: flex;
        align-items: center;

        .hero__text {
            padding-left: 75px;
        }
        span{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            color: #006b5b;

        }
        h2{
            font-size: 45px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 52px;
            color: #044a40;
            margin: 10px 0;
        }
        p{
            font-size: 16px;
            color: #6f6f6f;
            font-weight: 400;
            line-height: 26px;
            margin: 0 0 15px 0;
        }
        a{
            display: inline-block;
            font-size: 14px;
            padding: 10px 28px 10px;
            color: #ffff;
            text-transform: uppercase;
            font-weight: 700;
            background: #006b5b;
            letter-spacing: 2px;
            text-decoration: none;
        }
    }

}