@use "sass:map";
// @import "style/pages/theme";

.header__top {
    background: #f5f5f5;

}

.header__top_left {
    ul {
        display: flex;
        column-gap: 10px;
        align-content: center;
        padding: 10px 0 13px;
        list-style: none;

        li {
            font-size: 14px;
            color: #008874;
            display: flex;
            align-items: center;
            column-gap: 20px;
        }

        li:first-child {
            position: relative;

            &:after {
                position: absolute;
                right: -10px;
                top: 1px;
                height: 25px;
                width: 1px;
                opacity: 0.2;
                background: #000;
                content: "";
            }
        }
    }

    ul {
        display: flex;
        column-gap: 20px;

    }
}

.header__top_right {

    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 10px 0 13px;

    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
            color: #008874;
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;
        }

        span {
            font-size: 14px;
            margin-left: 2px;
        }
    }
}

.header__logo {
    padding: 15px 0;
}

.header__menu {
    padding: 24px 0;

    li {
        list-style: none;
        position: relative;

        a {
            text-decoration: none;
            font-size: 14px;
            color: #044a40;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            transition: all 0.3s;
            padding: 5px 0;
            display: block;
        }
    }

    li:hover .header__menu_dropdown {
        opacity: 1;
        visibility: visible;
        color: whitesmoke;
    }

    ul {
        display: flex;
        justify-content: space-between;

        .active a {
            color: #008874;

        }

        .header__menu_dropdown {
            background: #222;
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all, 0.3s;
            opacity: 0;
            visibility: hidden;

            li {
                a {
                    text-transform: capitalize;
                    color: #f5f5f5;
                    font-weight: 400;
                    padding: 5px 15px;
                }

                :hover {
                    color: #008874;
                }
            }
        }
    }
}

.header__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;

    ul {
        display: flex;

        margin-right: 25px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;

            svg {
                font-size: 25px;
                color: #000;
            }

            span {
                color: #f5f5f5;
                background: #008874;
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                left: 15px;
                bottom: 15px;
            }
        }
    }

}

.hero__categories {
    position: relative;

    .hero__categories__all {
        background: #008874;
        padding: 15px 25px 15px 40px;
        font-weight: bold;
        align-items: center;
        cursor: pointer;
        color: #ffff;

        svg,
        span {
            font-size: 16px;
            margin-right: 5px;
            font-weight: bold;
        }
        svg{
            font-size: 20px;
            
        }
    }
    ul {
        border: 1px solid #ebebee;
        position: absolute;
        width: 99%;
        background: #ffff;
        opacity: 1;
        transition: all 0.2s;

        li {
            list-style: none;
          a{
            text-decoration: none;
            color: transparent;
            font-size: 16px;
            color: #008874;
            line-height: 39px;
            display: block;
            padding-left: 40px;
          }

            &:hover {
                background: #f7ffff;

                a {
                    color: 008874;
                }
            }
        }
        &.hidden{
            opacity: 0;

        }
    }
}